#carrito {
  background: #fff;
  max-width: 500px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  font-size: 1.6rem;
  color: #333;
}

#carrito h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  color: var(--rosado);
}

#carrito-items {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

#carrito-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 0.8rem 0;
}

.eliminar-btn {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.4rem;
}

.eliminar-btn:hover {
  background-color: #cc0000;
}

.carrito-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  border-top: 1px solid #a91693;
  padding-top: 1rem;
}

.comprar-btn {
  display: block;
  width: 100%;
  background-color:  #863f5f;;
  color: #ffffff;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.comprar-btn:hover {
  background-color: #d73782;
}



.item-carrito {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
}

.img-producto {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 0.5rem;
}
